body {background-color:rgb(196, 196, 196);}
h1, h2 {text-align: center;}
h1 {font-size:2.4em;}
.container, .k-container, .part, .part1, .k-others, .k-body, .f-body, .modal, .modal-content, .k-part, .f-part, .f-container,.fpart, .fpart1 {display:block;}
.k-body, .f-body, .part, .k-part, .part1, .f-part,.fpart, .fpart1 {float:left;}
.k-container, .k-body, .f-body, .f-container {height:28em;}
.container, .modal-content {margin:auto;}
.k-body, .f-body, .k-part, .part, .f-part, .fpart {background-color:lightgrey;}
.part1, .fpart1{background-color:lightblue;}
.k-body, .f-body {width:20%}
.close{float: right;font-size: 28px;font-weight: bold;}
.container{
  width:95%;
  height:52em;
  background-color:#fff;
}

.k-container{
  width:100%;
}

.f-container{
  width:100%;
  margin:0;
}

.k-part{
  width:18%;
  border-radius:50%;
  height:13em;
  margin: 10px;
}

.f-part{
  width:23%;
  margin:5% 20px 20px;
  height:20em;
  border-radius:50%;
}

.part, .part1{
  margin:20px 0;
  width:25%;
  height:320px;
}

.fpart, .fpart1{
  margin:20px 0;
  width:20%;
  height:320px;
}

.modal, .mmodal{
  position:fixed;
  z-index: 1;
  left:0;
  top:0;
  height:100%;
  width:100%;
  background-color: rgba(68, 68, 68, 0.116);
  overflow: auto;
  display:none;
}

.modal-content{
  font-family: Arial, Helvetica, sans-serif;
  height:39em;
  width:60%;
  background-color:#fff;
}