body{margin:0; padding:0;}

#coordi,#co-coordi, #head{
    height: 400px;
    display:flex;
    justify-content: center;
    padding-top:30px;
}

 img{
    height: 22vw;
    width: 18vw;
    border-radius : 10%;
}
#co-coordi{
    height: 400px;
    display:flex;
    justify-content: center;
    padding-top: 30px;
}
.box-i{
    width:18em;
    height: 20em;
    text-align: center;
}
.box-i p{
    margin-top:1em;
    font-size:1.2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.box-i img{
    width:80%;
    height:90%;
}
h1,h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(39, 43, 49);
    margin-top:2em;
}
