ul{
    list-style-type: none;
    background-color: rgb(19, 6, 6);
    padding:0 10px;
    height:75px;
    margin:0;
    overflow: hidden;
}

li {float : right;}
.drop-inner{font-family: inherit; margin:0;}

li, a, .drop-inner{
    display: block;
    color: rgba(243, 234, 234, 0.829);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}

.drop-content {
    display: none;
    position: absolute;
    z-index: 1;
    margin:5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    -webkit-transition: 1s ease-in;
    transition: 1s ease-in;
}

.d-items{
    float:none;
    display:block;
    background-color: rgb(19, 6, 6);
    width:3em;
}

#drop:hover .drop-content{display:block;}

li:hover, .d-items:hover{
    background-color: rgba(85, 3, 3, 0.76);
    -webkit-transition: .3s cubic-bezier(0.86, 0, 0.07, 1);
    transition: .3s cubic-bezier(0.86, 0, 0.07, 1);
}

.li-logo{
    padding:0;
    float : left;
    height:75px;
    width : 180px;
}

.logo{
    height: 75px;
    width : 150px;
}

.li-logo a{padding:0;}
