@media screen and (max-width:800px){
    #body{max-width:800px;}
    .li-class{padding: 0.1em 0.1em; font-size:1em;}
    .li-logo{width:1.5em;}
    .logo{width:5em;}
    .li-logo a, .li-logo, .li-logo a img{height:60px;}
    .ul-class{height:60px;}
    #about-container{width:80%;} 
    #event-container, #celeb-container{padding:1em 0 0 0;width:100%;}
    #about-content {font-size:0.8em;}
    #event-container{margin:1em 0;}
    #event-content-grid{display:block;
    width:100%;}
    .event-content{font-size:0.8em;width: 90%;padding:1em;line-height: 1.2em;}
    .heading2{margin:0.2em;font-size:1em;}
    .card{height:auto;width:99%;margin-bottom:2em;}
    .c-content p{font-size:0.75em;}
    .map iframe, .copyright div, .copyright, nav{width:100%;}
    .icon{margin:0;float:left;width:100%;}
    #social{float:right;margin:0;height:7em;}
    #social h2{margin:0;}
    #foo_ter{position: relative;left: 0;bottom: 0;width: 100%;overflow: hidden;}    
    .k-body{overflow: hidden;}
    .no-cel{display:none;}
    .cel{width:33%;}
    #e-head{margin:0.5em;padding:0em;}
    .part, .part1, .fpart, .fpart1{height:3.5em;border-radius:0;width:100%;display: block; float:left; margin:0; line-height:2em;}
    .modal-content{padding: 0 0 1em 0;width:90%;}
    .w-pic{height:9em;margin:0;}
    .c-pic{height:9em;}
    #slide-constrict{width:100%;}
}
.pointer {cursor: pointer;}
@media screen and (max-width:550px){
    body{max-width: 550px;}
    #fixed-bg-wide{display:none;}
    #fixed-bg-small{display:block;}
    
.w-pic{height:5em;margin:0;}
.c-pic{height:8em;}
.li-class{display:none;}
#menu{display:block;}
}