@media screen and (max-width:800px){
    #body{max-width:800px;}
    .li-class{padding: 0.1em 0.1em; font-size:1em;}
    .li-logo{width:1.5em;}
    .logo{width:5em;}
    .li-logo a, .li-logo, .li-logo a img{height:60px;}
    .ul-class{height:60px;}
    #about-container, #event-container, #celeb-container{padding:0;}
    #about-content, .event-content{font-size:0.8em;}
    .heading2{margin:0.2em;font-size:1em;}
    .card{height:12em;width:100%;margin:0;}
    #btn{display:flex;height:3em;float:right;position:relative;}
    .c-content p{font-size:0.75em;}
    .map iframe, .copyright div, .copyright, nav{width:100%;}
    .icon{margin:0;float:left;width:100%;}
    #social{float:right;margin:0;height:7em;}
    #social h2{margin:0;}
    #foo_ter{position: relative;left: 0;bottom: 0;width: 100%;overflow: hidden;}    
    .k-body{overflow: hidden;}
    .part, .part1, .fpart, .fpart1{height:3.5em;border-radius:0;width:100%;display: block; float:left; margin:0; line-height:2em;}
    .modal-content,#C3,#C4,#C8,#C10,#C11,#C12,#C0{height:100em;}
}

@media screen and (max-width:800px){
    #body{
    width:100%;
    height:100%;
    position:relative;
    background: url('../img/Shishir-med.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}
.li-class{display:none;}
#menu{display:block;}
}

@media screen and (max-width:500px){
    #body{
    width:100%;
    height:100%;
    background: url('../img/Shishir-small.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}
.li-class{display:none;}
#menu{display:block;}

}