body{
    margin:0;
    background-color:rgb(38, 36, 48);    
}
.pointer {cursor: pointer;}
h1{
    font-size:2.2em;
    text-align:center;
    color:rgb(171, 186, 236);
    text-shadow: black 3px 3px;
}

table{
    border-collapse: collapse;
    width: 100%;table-layout: fixed;
    height: 450px;
}

#pre-shishir{
    display:block;
    margin:auto;
    margin-top:.5em;
    width: 90%;
    background-image: linear-gradient(to bottom, rgb(15, 16, 36), rgb(22, 32, 78));
    height:560px;
    overflow:none;
    padding:10px;
    
}

td{
    font-style: inherit;
    font-size: 20px;
    color:rgb(68, 63, 63);
    background-color:rgb(226, 226, 226);
    text-align: center;
    padding:1px;
    border:2px solid black;
}

th{
    font-size:1.4em;
    color:black;
    font-style:inherit;
    text-align: center;
    background-color: rgb(146, 156, 202);
    border:2px solid black;
}

.ul-class, .d-items{
    background-color:rgb(15, 16, 36);
    text-shadow: rgb(18, 18, 88) 2px 2px;
}

.li-class:hover,.d-items:hover,.li-class1:hover{
    background-color: rgb(9, 21, 59);
  }


.ul-class1{background-color:rgb(11, 12, 29);}