* {
    margin: 0;
    padding: 0;
}


#wrap {
    display: block;
    width: 100%;
    height: 75vh;
    border-radius: 0 0 85% 85% / 30%;
}

#wrap h1 {
    font-size: 3.5em;
}

#wrap img {
    width: 100%;
    height: inherit;
    position: absolute;
    z-index: -1;
    border-radius: 0 0 75% 75% / 10%;
}

.heading {
    text-align: center;
}


.associate{
    display:grid;
    grid-template-columns: repeat(3,1fr);
}

.heading, .heading2{
    display:block;
    width:100%;
    height:20vh;
}
.heading2{
    margin-top: 3em;
    text-align: center;
}

h1{
    font-size: 3em;
}

.card,.a-card{
    border:2px solid;
}

.a-card img{
    width:100%;
    height:300px;
}
.card img {
    width:100%;
    height:400px;
}

.img img {
    width: 100%;
    height: 55vh;
}

.partners, .fashion, .other{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 2;
    grid-gap:1.5em;
}

.card span, .a-card span {
    display: block;
    box-sizing: border-box;
    padding-top: 0.5em;
    height: 15vh;
    text-align: center;
    font-size: 2em;
}

@media screen and (max-width:800px) {
    .card span {
        font-size: 1.2em;
    }

    #wrap img {
        height: 50vh;
    }

    #wrap {
        height: 50vh;
    }

    #sponsor-wrap {
        grid-template-columns: repeat(1,1fr);
        padding:0;
    }
    .a-card, .card{
        display:block;
        height:50vh;
    }

    .associate, .partners, .fashion, .other{
        display:block;
    }

    .card img, .a-card img{
        height:35vh;
    }
    
}