body{margin:0; padding:0;}

#coordi,#co-coordi, #head{
    height: 400px;
    display:flex;
    justify-content: center;
    padding-top:30px;
}
#teambg{
    width:100%;
    height:100vh;
    opacity:0.85;;
    position:fixed;
    z-index : -1;
}
.box-i img{
    border-radius: 10%;
    height:90%;
    width:80%;
}
*{color:#fff;
    text-shadow: 2px 2px black;}
.box-i{
    width:18em;
    height: 20em;
    text-align: center;
}
.box-i p{
    margin-top:1em;
    font-size:1.2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
h1,h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top:2em;
}
@media screen and (max-width: 800px){
    .box-i img{
    width:90%; 
    height:40vh;
    }
}
