*{
    color:#fff;
    margin:0;
    padding:0;
}
html,body{overflow-x: hidden; }
#about-container, #web-team, #event-container, #celeb-container, #button, .c-content, .soon, .cel, .main-cel, .c-pic
, #contact-details, #footer_img_div, .icon, #social,.copyright,#about-content, .event-content, #btn {display:block;}
#about-container, #event-container, #celeb-container, .c-content, .soon, #social,.copyright, #web-team, #btn-more {margin : 0 auto;}
.card, .cel, #footer_img_div, #contact-details, .fa-facebook, .fa-instagram, .fa-youtube {float:left;}
.nitm-logo, .shishir_logo{float:right;}
.heading, .heading2, .soon, .c-content, h2,#social, .c, .fa, .copyright, #about-content {text-align:center;}
html, body,#div-one,  .main-cel, .c-pic, #foo_ter {width: 100%;}
html{height:100%;}
body{
    height:100%;
    background: url('../img/Shishir-wide.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

#div-one, #about-container, #event-container, #celeb-container{
    height:47em;
    padding : 2.5em;
}
#web-team{height:25em;
    padding : 2.5em;
    background-image: linear-gradient(to bottom left, rgb(89, 101, 107), rgb(51, 64, 138), rgb(92, 173, 179));
    text-align: center;
}
.web-t{
    padding-top: 40px;
    width: 14.28%;
    overflow: hidden;
    float: left;
}
.w-pic{
    
    border-radius: 50%;
    width:90%;
    
    height:200px;
}

#about-container, #event-container, #celeb-container,#web-team{
    width:90%;
}
#about-container{background-image: linear-gradient(to bottom right, rgb(5, 1, 17), rgb(43, 2, 2), rgb(8, 4, 14));}
#event-container{background-image: linear-gradient(to bottom right,  rgb(8, 1, 36), rgb(12, 2, 39), rgb(11, 2, 26));}
#celeb-container{background-image: linear-gradient(to bottom left, rgb(5, 1, 17), rgb(29, 0, 48), rgb(27, 1, 39));}


#about-content, .event-content{
    margin: 5px auto;
    font-family: Tahoma, Verdana, sans-serif;
}

#about-content{
    padding:20px 30px 30px;
    width:60%;
    border:dashed 2px;
    font-size:1.4em;
    box-shadow: 10px 8px 10px 5px rgb(15, 1, 1);
    border-color: rgba(90, 0, 20, 0.89);    
    background-color: rgb(255, 245, 245);
    color:rgb(24, 11, 11);
}

#a-head{color:rgb(243, 232, 232);}

.event-content{
    width:65%;
    padding:30px;
    text-align: center;
    font-size:1.3em;
    box-shadow: 3px 3px 3px 5px rgb(15, 1, 1);
    background-color: lightcyan;
    color: rgb(7, 7, 75);
}

.card{
    box-shadow: 5px 5px 5px 5px rgb(15, 1, 1);
    border: solid 2px;
    border-color: rgb(50, 12, 99);
}

.card {
    margin:1%;
    height:35em;
    width:30%;
}

.card-head{
    background-color: rgb(33, 26, 75);
    height:20%;
    padding: 5px 0 0 0;
}

.heading, .heading2{margin:1.5em;}
#e-head{color:rgb(221, 194, 243);}

.heading{
    font-size:2.6em;
    color: #9c9292;
    text-shadow:rgb(24, 10, 10) 3px 3px;
}

.heading2{
    color:rgb(205, 176, 230);
    text-shadow:rgb(18, 1, 27) 3px 3px;
}

.soon{
    padding:10px;
    font-size: 3em;
}

.c-name{
    font-weight:bold;
    font-size:1.2em;
}

.cel{
    width:20%;
    overflow: hidden;
}

.c-pic{height:200px;}
.main-cel{height:40%;}

#foo_ter{
    background-color: #222222;
    height:100%; 
    margin:0;  
}

.nitm-logo{
    margin:1.6em;
    width: 5em;
    height: 5em;
}

.shishir_logo{
    margin:1.6em;
    height:5em;
    width: 6.25em;
}

.c{font-size:1em;}

h2, #social, .c, .fa{color:white;}

.map{
    margin:20px;
    padding:20px;
    text-align: center;
}


#contact-details{
    margin: 5em 0;
    padding: 0.6em;
    width:33%;
}

.upper, .lower{
    display:flex;
    width:100%;
}

#social{
    width:33%;
    margin-top: 4em;
    height: 9.3em;
}
 
.icon{
    display:block;
    grid-template-columns: 1fr 1fr 1fr;
}

.fa-facebook {background: #3B5998;}
.fa-instagram {background: #c53093;}
.fa-youtube {background: #bb0000;}

.fa {
    margin:1em 1em;
    border-radius:30%;
}
.fa:hover {opacity: 0.7;}
.copyright{width:33%;margin-top:5em;}

