*{
    color:#fff;
    margin:0;
    padding:0;
}

#about-container, #event-container, #celeb-container, #button, .c-content, .soon, .cel, .main-cel, .c-pic
, #contact-details, #footer_img_div, .icon, #social,.copyright {display:block;}
#about-container, #event-container, #celeb-container, .c-content, .soon, #social,.copyright {margin : 0 auto;}
.card, #btn, .cel, #footer_img_div, #contact-details, .fa-facebook, .fa-instagram, .fa-youtube{float:left;}
.nitm-logo, .shishir_logo{float:right;}
.heading, .heading2, #btn, .soon, .c-content, h2,#social, .c, .fa, .copyright{text-align:center;}

body{
    width:100%;
    height:100%;
    background: url('../img/shishir-bg.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

#div-one, #about-container, #event-container, #celeb-container{
    height:700px;
    width:100%;
    padding : 40px;
}

#about-container, #event-container, #celeb-container{width:90%;}

#about-container{background:rgb(216, 216, 216);}
#event-container{background:rgb(85, 85, 85);}
#celeb-container{background:rgb(134, 134, 134);}

.card{
    border: solid 2px;
    border-color: rgb(50, 12, 99);
}

.card, #btn{
    margin:15px;
    height:550px;
    width:25%;
}

.card-head{
    background-color: rgb(50, 12, 99);
    height:20%;
    padding: 5px 0 0 0;
}

.heading, .heading2{
    margin:40px;
}

.heading{
    font-size:2.6em;
    color: #9c9292;
    text-shadow:rgb(24, 10, 10) 3px 3px;
}

.heading2{
    color:rgb(198, 158, 231);
    text-shadow:rgb(41, 1, 65) 4px 4px;
}

#btn{
    position:relative;
    width:10%;
}

#btn-more{
    position: absolute;
    top: 90%; left: 100%;
    transform: translate(-50%,-50%);
    height:30px;
    padding:20px;
    border-radius: 50%;
    font-size:1.6em;
    color:rgb(238, 223, 250);
    text-shadow:rgb(41, 1, 65) 2px 2px;
    background-color: rgb(50, 12, 99);
}

.soon{
    padding:10px;
    font-size: 3em;
}

.c-name{
    font-weight:bold;
    font-size:1.2em;
}

.cel{
    width:20%;
    height:50%;
    overflow: hidden;
}

.c-pic{
    width:100%;
    height:200px;
}

.main-cel{
    width:100%;
    height:40%;
}

#foo_ter{
    background-color: #222222;
    width:100%;
    height:100%; 
    margin:0;  
}

.nitm-logo{
    margin:1.6em;
    width: 80px;
    height:80px;
}

.shishir_logo{
    margin:1.6em;
    height:80px;
    width:100px;
}

#contact-details{
    margin: 4em 4em 0;
    padding:10px;
}

.c{
     color: white;
     font-size:1em;
}

h2,#social, .c{color:white;}

.map{
    margin:20px;
    padding:20px;
    text-align: center;
}

#social{
    width:33%;
    margin-top: 40px;
    color:white;
    height:150px;
}
 
.icon{
    margin:20px auto;
    width:50%;
    height:100px;
    align-content: center;
}

 .fa-facebook {background: #3B5998;}
.fa-instagram {background: #c53093;}
.fa-youtube {background: #bb0000;}

.fa {
    padding: 20px;
    font-size: 2em;
    width: 30px;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    color:white;
}

.fa:hover {opacity: 0.7;}
.copyright{width:20%;}