body{
    padding:0;
    margin:0;
    background-color: rgb(255, 234, 234);
}

.team-container{
    display:block;
    margin: 0 auto;
    width:100%;
    height:55em;
    margin-left:2%;
}

.teams{
    display:flex;
    flex-flow: row wrap;
    margin: 0 auto;
    width:80%;
    height:50em;
}
.pointer {cursor: pointer;}
.circle{

    width:28%;
    height:8em;
    border-radius: 50%;
    border:none;
    margin:2%;
    background-color: rgb(178, 141, 197);
    -webkit-transition: background-color 1s ease 0s;
    transition: background-color 1s ease 0s;
}
.circle:hover{
    background-color:rgb(137, 72, 153); 
}

.content{
    text-align: center;
    font-family: cursive;
    font-size: 25px;
    color:black;
}

 h1{text-align: center;margin-top:5%;font-size:2em;}



 