body{
    padding:0;
    margin:0;
    background-color: rgb(255, 234, 234);
}

.team-container{
    display:block;
    margin: 0 auto;
    width:100%;
    height:55em;
    margin-left:2%;
}

.teams{
    display:block;
    margin: 0 auto;
    width:80%;
    height:55em;
}
.pointer {cursor: pointer;}
.circle{
    display:block;
    width:28%;
    height:8em;
    border-radius: 50%;
    float:left;
    margin:2%;
    background-color: rgb(195, 157, 230);
    -webkit-transition: background-color 1s ease 0s;
    transition: background-color 1s ease 0s;
}
.circle:hover{
    background-color:rgb(137, 72, 153); 
}

.content{
     text-align: center;
    font-family: cursive;
    font-size: 25px;
    color:black;
}

 h1{text-align: center;margin-top:5%;font-size:2em;}

.circle a{margin-top: 40%;}
#weba{margin-top:35%;}
 