.circle{
    width:300px;
    height:300px;
    border-radius: 100%;
    float:left;
    margin:20px;
    position: relative;
}

.web{
    background-color: rgb(189, 182, 122);
}
.app{
    background-color: orange;
}
.krigg{
    background-color: rgb(224, 183, 121);
}
.event-management{
    background-color: plum;
}
.dramatics{
    background-color: aqua;
}
.sponsorship{
    background-color: bisque;
}
.stepup{
    background-color: rgb(112, 117, 121)
}
.harmony{
    background-color: blue;
}
.publicity{
    background-color: aquamarine;
}
.panache{
    background-color: orangered;
}
.stage-management{
    background-color: indigo;
}
.hospitality{
    background-color: green;
}
.designing{
    background-color: greenyellow;
}
.ebsb{
    background-color: lightcoral;
}
.gaming{
    background-color: darkolivegreen;
}
.funevents{
    background-color: rgb(151, 167, 60);
}
.content{
    position: absolute;
    width: 100%;
    height: auto;
    top:47%;
    text-align: center;
    font-family: cursive;
    font-size: 25px;
    color:black;
}
 h1{
     text-align: center;
 }
 body{
     background-image: linear-gradient(to right,rgb(52, 45, 90),rgb(133, 126, 172));
 }

 